`<div id="ff-discounthunt-session-modal-background">
  <div id="ff-discounthunt-session-modal" class="${ffDiscounthuntSessionData.popup_design || 'default'}">
    <div id="ff-discounthunt-session-modal__header">
      <h3>${ffDiscounthuntSessionData.popup_title}</h3>
    </div><!-- end #ff-discounthunt-session-modal__header -->

    <div id="ff-discounthunt-session-modal__body">
      <div id="ff-discounthunt-session-modal__description">
        <p>${ffDiscounthuntSessionData.popup_body.replace(/(?:\r\n|\r|\n)/g, '<br />')}</p>
      </div><!-- end #ff-discounthunt-session-modal__description -->

      <div id="ff-discounthunt-session-modal__result" class="ff-discounthunt-session--hidden">
          <div id="ff-discounthunt-session-modal__result-icon"><svg viewBox="0 0 20 20" focusable="false" aria-hidden="true"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path></svg></div>
        <div>${ffDiscounthuntSessionData.popup_submit_body.replace(/(?:\r\n|\r|\n)/g, '<br />')}</div>
        <div id="ff-discounthunt-session-modal__result-discountcode"></div>
      </div><!-- end #ff-discounthunt-session-modal__result -->

      <div id="ff-discounthunt-session-modal__form-container">
        <form method="post" id="ff-discounthunt-session-modal__form">
          <div class="ff-discounthunt-session-form__group ${(ffDiscounthuntSessionData.form_collect_first_name == 1) ? '' : 'ff-discounthunt-session--hidden'}">
            <label for="ff-discounthunt-session-form__first-name">${ffDiscounthuntSessionData.form_label_first_name}</label>
            <input type="text" ${(ffDiscounthuntSessionData.form_collect_first_name == 1) ? 'required="required"' : ''} name="ff-discounthunt-session-form__first-name" id="ff-discounthunt-session-form__first-name" />
          </div>

          <div class="ff-discounthunt-session-form__group ${(ffDiscounthuntSessionData.form_collect_last_name == 1) ? '' : 'ff-discounthunt-session--hidden'}">
            <label for="ff-discounthunt-session-form__last-name">${ffDiscounthuntSessionData.form_label_last_name}</label>
            <input type="text" ${(ffDiscounthuntSessionData.form_collect_last_name == 1) ? 'required="required"' : ''} name="ff-discounthunt-session-form__last-name" id="ff-discounthunt-session-form__last-name" />
          </div>

          <div class="ff-discounthunt-session-form__group">
            <label for="ff-discounthunt-session-form__email">${ffDiscounthuntSessionData.form_label_email}</label>
            <input type="email" required="required" name="ff-discounthunt-session-form__email" id="ff-discounthunt-session-form__email" />
          </div>

          <div class="ff-discounthunt-session-form__group ${(ffDiscounthuntSessionData.form_collect_additional_information == 1) ? '' : 'ff-discounthunt-session--hidden'}">
            <label for="ff-discounthunt-session-form__additional">${ffDiscounthuntSessionData.form_label_additional_information}</label>
            <input type="text" name="ff-discounthunt-session-form__additional" id="ff-discounthunt-session-form__additional" />
          </div>

          <div class="ff-discounthunt-session-form__group" id="ff-discounthunt-session-form__group--legal">
            <input type="checkbox" id="ff-discounthunt-session-form__legal" required="required" />
            <a href="${ffDiscounthuntSessionData.form_legal_url}" target="_blank">${ffDiscounthuntSessionData.form_label_legal}</a>
          </div>

          <div class="ff-discounthunt-session-form__group">
            <button type="submit" id="ff-discounthunt-session-form__submit">${ffDiscounthuntSessionData.popup_button} <i class="ff-discounthunt-session--hidden"><svg class="ff-discounthunt-session--spin" width="25" height="15" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M33 20.5C33 22.9723 32.2669 25.389 30.8934 27.4446C29.5199 29.5002 27.5676 31.1024 25.2835 32.0485C22.9995 32.9946 20.4861 33.2421 18.0614 32.7598C15.6366 32.2775 13.4093 31.087 11.6612 29.3388C9.91301 27.5907 8.7225 25.3634 8.24018 22.9386C7.75787 20.5139 8.00541 18.0005 8.95151 15.7165C9.8976 13.4324 11.4998 11.4801 13.5554 10.1066C15.611 8.73311 18.0277 8 20.5 8L20.5 13C19.0166 13 17.5666 13.4399 16.3332 14.264C15.0999 15.0881 14.1386 16.2594 13.5709 17.6299C13.0032 19.0003 12.8547 20.5083 13.1441 21.9632C13.4335 23.418 14.1478 24.7544 15.1967 25.8033C16.2456 26.8522 17.582 27.5665 19.0368 27.8559C20.4917 28.1453 21.9997 27.9968 23.3701 27.4291C24.7406 26.8614 25.9119 25.9001 26.736 24.6668C27.5601 23.4334 28 21.9834 28 20.5H33Z" fill="white"></path>
              </svg>
              </i></button>
          </div>
        </form>
      </div><!-- end #ff-discounthunt-session-modal__form -->
    </div><!-- end #ff-discounthunt-session-modal__body -->
    <button id="ff-discounthunt-session-modal__close" aria-label="Close Popup" style="position: absolute; top: 0; right: 0; border: none; background: none; border-radius: 20px; width: 40px; height: 40px; text-align: center; line-height: 40px; font-size: 18px; padding: 0; cursor: pointer; color: #555;">&times;</button>
  </div><!-- end  #ff-discounthunt-session-modal -->
</div><!-- end #ff-discounthunt-session-modal-background -->`