<div id="ff-discounthunt-popup-root" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, .6); z-index: 999999; overflow-y: auto; overflow-x: hidden;">
  <div id="ff-discounthunt-session-modal-background">
    <div id="ff-discounthunt-session-modal" class="default">
      <div id="ff-discounthunt-session-modal__body">
        [[CUSTOM_POPUP_WINDOW_CONTENT]]
        <button id="ff-discounthunt-custom-modal__close">[[CUSTOM_POPUP_WINDOW_CLOSE_BUTTON_LABEL]]</button>
      </div><!-- end #ff-discounthunt-session-modal__body -->
      <button id="ff-discounthunt-session-modal__close" aria-label="Close Popup" style="position: absolute; top: 0; right: 0; border: none; background: none; border-radius: 20px; width: 40px; height: 40px; text-align: center; line-height: 40px; font-size: 18px; padding: 0; cursor: pointer; color: #555;">&times;</button>
    </div><!-- end  #ff-discounthunt-session-modal -->
  </div><!-- end #ff-discounthunt-session-modal-background -->
</div><!-- end #ff-discounthunt-popup-root -->